pipeline/ASQLtoASQLDWSynopsis.json
{
	"name": "ASQLtoASQLDWSynopsis",
	"properties": {
		"description": "copying tables from Azure SQL database to Azure Datawarehouse",
		"activities": [
			{
				"name": "GetTableListAndTriggerCopyData",
				"description": "Get list of tales in Azure SQL database and then execute another pipeline to copy data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlDatasetAsSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute IterateAndCopyTableASQLto ASQLDW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetTableListAndTriggerCopyData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IterateAndCopyTableASQLto ASQLDW",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ObjectList": {
							"value": "@activity('GetTableListAndTriggerCopyData').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}