pipeline/Lego_Variables_ForEachLoop.json
{
	"name": "Variables_ForEach_Loop_Demo",
	"properties": {
		"description": "Pipeline to show how variables and foreach work in ADF.",
		"activities": [
			{
				"name": "Setting File variable",
				"description": "Assigning array to File variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Files",
					"value": [
						"colors",
						"inventories",
						"inventory_parts",
						"part_categories",
						"parts",
						"sets",
						"themes"
					]
				}
			},
			{
				"name": "Whether to load all files",
				"description": "Condition decides whether we loading all files or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Setting File variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.LoadAllFiles",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Appending files variable",
							"description": "Appending one file name into existing array contained by variable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "inventory_sets"
							}
						},
						{
							"name": "Appending Files variable again",
							"description": "Appending one more filename into existing list of filenames",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "part_relationships"
							}
						}
					]
				}
			},
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Whether to load all files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Files')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Lego_HTTP_to_ADSL Pipeline",
							"description": "Execute Dynamic Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Lego_HTTP_To_ADLS_Dynamic",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LoadAllFiles": {
				"type": "bool"
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}