pipeline/Lego_Lookup_ConfigTable_AllRows.json
{
	"name": "Lego_Lookup_ConfigTable_AllRows",
	"properties": {
		"description": "Lookup using Azure SQL database table as source dataset and process all rows",
		"activities": [
			{
				"name": "Lookup Configuration Table",
				"description": "Lookup using configuration table as source dataset to process all rows",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from etl.ConfigurationTable where isactive=1;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ASQLDB_Lego_ConfigurationTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach File",
				"description": "Loop through each lookup output row",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Configuration Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Configuration Table').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "HTTP_to_ADLS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Lego_HTTP_To_ADLS_Dynamic",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": "@item().SourceFileName"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}