pipeline/Lego_Lookup_ConfigFile_FirstRow.json
{
	"name": "Lego_Lookup_ConfigFile_FirstRow",
	"properties": {
		"description": "Lookup using configuration file as source dataset but processing only first row",
		"activities": [
			{
				"name": "Lookup ConfigFileADSL",
				"description": "Lookup using configuration File as source dataset",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ADLS_Lego_ConfigurationFile",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "HTTP_Lego_Dynamic",
				"description": "Run existing pipeline dynamically by passing filename (received from Lookup activity) as parameter  to pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup ConfigFileADSL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lego_HTTP_To_ADLS_Dynamic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FileName": {
							"value": "@activity('Lookup ConfigFileADSL').output.firstRow.SourceFileName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}